<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('templates/nav.ejs') -%>
    <%- include('templates/header.ejs') -%>
    
    <link rel="stylesheet" href="/css/mystyle.css">
</head>
<body>
    <main>
<h2>CONTACTA CON NOSOTROS SI TE INTERESA ALGUNO DE NUESTROS CURSOS </h2>
<p><b>Teléfono:</b>  963 333 666</p>
<p><b>Correo electrónico: </b> blablabla@blbla.es</p>

<div class="fotos">
    
    <figure>
        <img src="https://www.marketingdirecto.com/wp-content/uploads/2021/09/atencion-al-cliente.png" alt="Taller textil en Ontinyent">
        <figcaption> No dudes en contactar con nosotros, estaremos encantados de ayudarte.</figcaption>
    </figure>
</div>
    </main>
    <%- include('templates/footer.ejs') -%>
</body>
</html>