<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('templates/nav.ejs') -%>
    <%- include('templates/header.ejs') -%>
    
    <link rel="stylesheet" href="/css/mystyle.css">
</head>
<body>
    <main>
        <article>
        <h2>Curso Joyas de Fieltro </h2>
        <p>En este curso haremos unos atractivo y muy llevables collares, pulseras, anillos, flores, etc de fieltro

            Fechas: Jueves 9 y viernes 10 de Marzo 2023
            Duración: 8 horas
            Horario: de 16 a 20 horas
            Precio: 110€ material incluido. 
            </p>
            <div class="fotos">
                <figure>
                    <img src="https://files.123inventatuweb.com/d0/58/d0581203-16ff-439f-ad8f-6130779e0390.jpg" alt="Mujer fabricando joyas de fieltro">
                </figure>
            </div>
        </article>
        <article>
            <h2>Curso Fieltro Nuno </h2>
            <p>El fieltro Nuno consiste en unir fibras de lana con diferentes tejidos como seda, linos, etc. al realizar el fieltrado de la lana junto al tejido se crean texturas y formas muy delgadas e interesantes para aplicar a complementos como chales y pañuelos.
                Fechas: Jueves 2 y viernes 3 de  Marzo 2023
                Duración: 8 horas Horario: De 16 a 20 horas
                Precio: 110 € material incluido </p>
                <div class="fotos">
                    <figure>
                        <img src="https://www.entretejiendo.es/sites/default/files/styles/blog_grande/public/blog/2015-04-06%2011.02.08.jpg?itok=y9RfedDr" alt="Pañuelos de fieltro">
                    </figure>
                </div>
            </article>
    </main>
    <footer>
        <%- include('templates/footer.ejs') -%>
    </footer>
</body>
</html>