<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('templates/nav.ejs') -%>
        <%- include('templates/header.ejs') -%>
            
                <link rel="preconnect" href="https://fonts.googleapis.com">

                <link rel="stylesheet" href="/css/mystyle.css">

</head>

<main>
    <section>
        <h1>Bienvenido a nuestra academia de corte y confección</h1>
        
    </section>

    <section>
        <h3>Conoce el patrimonio industrial textil de Ontinyent y la comarca del Valle de Albaida de la mano de la
            academia del Textil de la Comunidad Valenciana.
            El taller, situado en una antigua fábrica textil, a orillas del río Clariano, ofrece un recorrido sobre la
            historia, la elaboración y la producción de tejidos de forma artesanal, exponiendo prendas que datan del
            siglo XVIII a nuestros días.
        </h3>
        <div class="fotos">
            <figure>
                <img src="https://valldalbaida.com/files/500/museutextil-2.jpg" alt="Taller textil en Ontinyent">
            </figure>
        </div>
    </section>
    <footer>
    <%- include('templates/footer.ejs') -%>
</footer>
</main>


</html>