<div class="enlacesNav">
     <a href="/">Indice</a>
     <a href="cursos">Cursos</a>
     <a href="profesores">Profesores</a>
    <a href="instalaciones">Instalaciones</a>
     <a href="contacto">Contacto</a>
    
    
</div>